<!DOCTYPE html>
<html>
<head>
  <title>Madlib Data</title>
</head>
<body> 
    <form action ="/madlib">
      <!--   Can you give me a name of a person?
        <input type= "text" name="name"> <br>
        Can you give me the name of a color?
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
        </select><br>
        Can you give me a noun?
        <input type="checkbox" name="Noun" value="balloonicorn">Balloonicorn
        <input type="checkbox" name="Noun" value="squish">Squish
        <input type="checkbox" name="Noun" value="house">House <br>
        Can you give me an adjective?
        <select name="adjective">
            <option value="sleepy">sleepy</option>
            <option value="chatty">chatty</option>
            <option value="grumpy">grumpy</option>
            <option value="creepy">creepy</option>
        </select><br>  -->       
        Adjective
        <input type= "text" name="adjective4"><br>
        Verb ending in "ed"
        <input type= "text" name="verb_ed"><br>
        Noun(Plural)
        <input type= "text" name="noun_p"><br>
        Liquid
        <input type= "text" name="liquid"><br>
        Noun(Plural)
        <input type= "text" name="noun_p2"><br>
        Famous Person
        <input type= "text" name="famous"><br>
        Place
        <input type= "text" name="place"><br>
        Occupation
        <input type= "text" name="adjective2"><br>
        Noun
        <input type= "text" name="noun2"><br>
        Nationality
        <input type= "text" name="nationality"><br> 
        Female celebrity
        <input type= "text" name="f_celebrity"><br>
        Noun (Plural)       
        <input type= "text" name="noun_p3"><br>
        Number
        <input type= "text" name="number"><br>
        Adjective
        <input type= "text" name="adjective3"><br><br>
        <input type="submit">
    </form>
</body>
</html>