<!DOCTYPE html>
<html>
<head>
  <title>Madlib results</title>
</head>
<body> 
    <form action="/madlib">
        I enjoy long, {{adjective4}} walks on the beach, getting {{verb_ed}} in the rain and serendipitous encounters with {{noun_p}}. I really like piña coladas mixed with {{ liquid }}, and romantic, candle-lit {{noun_p2}}. I am well-read from Dr. Seuss to {{famous}}. I travel frequently, especially to {{place}}, when I am not busy with work. (I am a {{adjective2}}.) I am looking for {{noun2}} and beauty in the form of a {{nationality}} goddess. She should have the physique of {{f_celebrity}} and the {{noun_p3}} of {{f_celebrity}}. I would prefer if she knew how to cook, clean, and wash my {{noun_p3}}. I know I’m not very attractive in my picture, but it was taken {{number}} days ago, and I have since become more {{adjective3}}.
</body>
</html>